*{
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    position: relative;
    flex-direction: column;
    background-color:rgb(17, 6, 63);
    margin: 5px;

}


.site-header{
     background-color: rgb(11, 11, 39);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 130px;
    max-width: 100%;;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 50px;
    box-shadow: 0px 10px 5px rgba(91, 102, 255, 0.3);
    
}
   

   

.logo{
    float: left;
    margin-bottom: 5px;
    margin-left: 200px;
    margin: auto;
    max-height: 130px;
    width: auto;
    
 }



  /* Navigation menu styles*/

header nav{
    display: flex;
    padding: 1em;
    align-self: center;

  

    
}



nav ul{
    display: flex;
    justify-self: end;
    align-self: center;
    list-style-type: none;
    margin-left: 30px;
}

nav li {
    display: inline-block;
   padding: 1em;
   margin-right: 20px;

    
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    
}


  
/*----------Hovedindhold-----------*/

.text{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-left: 15px;
    margin-right: 15px;
    max-width: 100%;
    font-size: 13px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
}

.video video{
    align-items: center;
    justify-content: center;
    height: auto;
    display: flex;
    max-width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
    border-color: white;
    border-style: solid;
    border-width: 1px;
}




.text-content{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: auto;
    line-height: 2;
    max-width: 100%;
    font-size: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:100;
    font-style: normal;
} 
  

.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    max-width: 100%;
    height: auto;
}

.image-container img{
    display: flex;
    align-self: center;
    max-width: 70%;
    height: auto;
    width: 200px;

}




.section{
    display: grid;
    grid-row: span;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: auto;
    margin-top: 10px;
    margin-bottom: 01em;
    

}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    max-width: 100%;
    width: 600px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
    text-align: center;
    background-color: transparent;
    padding: 50px;
  

}


.item a{
    display: flex;
    position: relative;
    justify-self: start;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: auto;
    margin-left: 15px;
    margin-right: 15px;
    

}
 .item img{
    display: flex;
    max-width: 100%;
    width: 500px;
    height: auto;
    border-color: white;
    border-style: solid;
    border-width: 1px;
   
}

 

.btn{
    position: absolute;
    margin-top: 100px;
    width: 150px;
    height: 30px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    object-fit:contain;
    z-index: 1;
} 
   




.footer-content{
    display: flex;
    flex-direction: column;
    background-color: rgb(11, 11, 39);
    height: 400px;
    align-items: center;
    text-align: center;
      
}

.footer-logo{
    margin-top: 30px;
    margin-bottom: 30px;
}

.footer-logo img{
    max-width: 130px;
    height: auto;

}





@media (min-width: 968px){
    .section{
      display: flex;
    }
    
}